In [1]:
import pandas as pd

In [2]:
train=pd.read_csv(r'E:\kiet files\4 semister\csv files\store-sales-time-series-forecasting\train.csv')
test=pd.read_csv(r'E:\kiet files\4 semister\csv files\store-sales-time-series-forecasting\test.csv')
oil=pd.read_csv(r'E:\kiet files\4 semister\csv files\store-sales-time-series-forecasting\oil.csv')
holidays_events=pd.read_csv(r'E:\kiet files\4 semister\csv files\store-sales-time-series-forecasting\holidays_events.csv')
transactions=pd.read_csv(r'E:\kiet files\4 semister\csv files\store-sales-time-series-forecasting\transactions.csv')

In [3]:
train.head(2)

   id        date  store_nbr      family  sales  onpromotion
0   0  2013-01-01          1  AUTOMOTIVE    0.0            0
1   1  2013-01-01          1   BABY CARE    0.0            0

In [4]:
train.shape

(3000888, 6)

In [5]:
holidays_events.head(2)

,date,type,locale,locale_name,description,transferred
0,2012-03-02,Holiday,Local,Manta,Fundacion de Manta,False
1,2012-04-01,Holiday,Regional,Cotopaxi,Provincializacion de Cotopaxi,False

In [6]:
holidays_events.shape

(350, 6)

In [7]:
holidays_events=holidays_events[holidays_events['date']>'2013-01-01']

In [8]:
holidays_events

,date,type,locale,locale_name,description,transferred
42,2013-01-05,Work Day,National,Ecuador,Recupero puente Navidad,False
43,2013-01-12,Work Day,National,Ecuador,Recupero puente primer dia del ano,False
44,2013-02-11,Holiday,National,Ecuador,Carnaval,False
45,2013-02-12,Holiday,National,Ecuador,Carnaval,False
46,2013-03-02,Holiday,Local,Manta,Fundacion de Manta,False
...,...,...,...,...,...,...
345,2017-12-22,Additional,National,Ecuador,Navidad-3,False
346,2017-12-23,Additional,National,Ecuador,Navidad-2,False
347,2017-12-24,Additional,National,Ecuador,Navidad-1,False
348,2017-12-25,Holiday,National,Ecuador,Navidad,False
349,2017-12-26,Additional,National,Ecuador,Navidad+1,False

In [9]:
oil.head(2)

         date  dcoilwtico
0  2013-01-01         NaN
1  2013-01-02       93.14

In [10]:
test.head(2)

        id        date  store_nbr      family  onpromotion
0  3000888  2017-08-16          1  AUTOMOTIVE            0
1  3000889  2017-08-16          1   BABY CARE            0

In [11]:
transactions.head(2)

         date  store_nbr  transactions
0  2013-01-01         25           770
1  2013-01-02          1          2111

In [12]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000888 entries, 0 to 3000887
Data columns (total 6 columns):
 #   Column       Dtype
---  ------       -----
 0   id           int64
 1   date         object
 2   store_nbr    int64
 3   family       object
 4   sales        float64
 5   onpromotion  int64
dtypes: float64(1), int64(3), object(2)
memory usage: 137.4+ MB

In [13]:
train.describe()

                 id     store_nbr         sales   onpromotion
count  3.000888e+06  3.000888e+06  3.000888e+06  3.000888e+06
mean   1.500444e+06  2.750000e+01  3.577757e+02  2.602770e+00
std    8.662819e+05  1.558579e+01  1.101998e+03  1.221888e+01
min    0.000000e+00  1.000000e+00  0.000000e+00  0.000000e+00
25%    7.502218e+05  1.400000e+01  0.000000e+00  0.000000e+00
50%    1.500444e+06  2.750000e+01  1.100000e+01  0.000000e+00
75%    2.250665e+06  4.100000e+01  1.958473e+02  0.000000e+00
max    3.000887e+06  5.400000e+01  1.247170e+05  7.410000e+02

In [14]:
#train=train.merge(oil,on='date')

In [15]:
#train=train.merge(holidays_events,on='date')

In [16]:
#train=train.merge(transactions,on='date')

In [17]:
train.head(2)

   id        date  store_nbr      family  sales  onpromotion
0   0  2013-01-01          1  AUTOMOTIVE    0.0            0
1   1  2013-01-01          1   BABY CARE    0.0            0

In [18]:
#train['dcoilwtico'].isnull().sum()

In [19]:
#train['dcoilwtico'].value_counts()

In [20]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000888 entries, 0 to 3000887
Data columns (total 6 columns):
 #   Column       Dtype
---  ------       -----
 0   id           int64
 1   date         object
 2   store_nbr    int64
 3   family       object
 4   sales        float64
 5   onpromotion  int64
dtypes: float64(1), int64(3), object(2)
memory usage: 137.4+ MB

In [21]:
train.columns

Index(['id', 'date', 'store_nbr', 'family', 'sales', 'onpromotion'], dtype='object')

In [22]:
# import matplotlib.pyplot as plt
#import seaborn as sns

In [23]:
#train.hist(figsize=(20,15))  # column=['',''],
#plt.show()

In [24]:
# sns.heatmap(train.corr())

In [25]:
# train=train.groupby('date').agg(sum)
# train=train.merge(holidays_events,on='date')

In [26]:
train.head(2)

   id        date  store_nbr      family  sales  onpromotion
0   0  2013-01-01          1  AUTOMOTIVE    0.0            0
1   1  2013-01-01          1   BABY CARE    0.0            0

In [27]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000888 entries, 0 to 3000887
Data columns (total 6 columns):
 #   Column       Dtype
---  ------       -----
 0   id           int64
 1   date         object
 2   store_nbr    int64
 3   family       object
 4   sales        float64
 5   onpromotion  int64
dtypes: float64(1), int64(3), object(2)
memory usage: 137.4+ MB

In [28]:
train['new_date']=pd.to_datetime(train['date'])
train['month'] = [i.month for i in train['new_date']]
train['year'] = [i.year for i in train['new_date']]
train['day_of_week'] = [i.dayofweek for i in train['new_date']]
train['day_of_year'] = [i.dayofyear for i in train['new_date']]

In [29]:
test['new_date']=pd.to_datetime(test['date'])
test['month'] = [i.month for i in test['new_date']]
test['year'] = [i.year for i in test['new_date']]
test['day_of_week'] = [i.dayofweek for i in test['new_date']]
test['day_of_year'] = [i.dayofyear for i in test['new_date']]

In [30]:
test.head(2)

,id,date,store_nbr,family,onpromotion,new_date,month,year,day_of_week,day_of_year
0,3000888,2017-08-16,1,AUTOMOTIVE,0,2017-08-16,8,2017,2,228
1,3000889,2017-08-16,1,BABY CARE,0,2017-08-16,8,2017,2,228

In [31]:
test=test.drop(['id','date','store_nbr','family','onpromotion'],axis=1)

In [32]:
test.head(2)

    new_date  month  year  day_of_week  day_of_year
0 2017-08-16      8  2017            2          228
1 2017-08-16      8  2017            2          228

In [33]:
train['year'].value_counts()

2016    650430
2013    648648
2014    648648
2015    648648
2017    404514
Name: year, dtype: int64

In [34]:
train = train[train['year'] < 2016]
train1 = train[train['year'] <= 2016]

In [35]:
train1.head(2)

,id,date,store_nbr,family,sales,onpromotion,new_date,month,year,day_of_week,day_of_year
0,0,2013-01-01,1,AUTOMOTIVE,0.0,0,2013-01-01,1,2013,1,1
1,1,2013-01-01,1,BABY CARE,0.0,0,2013-01-01,1,2013,1,1

In [36]:
train.head(2)

,id,date,store_nbr,family,sales,onpromotion,new_date,month,year,day_of_week,day_of_year
0,0,2013-01-01,1,AUTOMOTIVE,0.0,0,2013-01-01,1,2013,1,1
1,1,2013-01-01,1,BABY CARE,0.0,0,2013-01-01,1,2013,1,1

In [37]:
train.columns

Index(['id', 'date', 'store_nbr', 'family', 'sales', 'onpromotion', 'new_date',
       'month', 'year', 'day_of_week', 'day_of_year'],
      dtype='object')

In [38]:
!pip3 install pycaret

Requirement already satisfied: pycaret in e:\anaconda\lib\site-packages (2.3.10)
Requirement already satisfied: textblob in e:\anaconda\lib\site-packages (from pycaret) (0.17.1)
Requirement already satisfied: mlflow in e:\anaconda\lib\site-packages (from pycaret) (1.26.0)
Requirement already satisfied: pyyaml<6.0.0 in e:\anaconda\lib\site-packages (from pycaret) (5.4.1)
Requirement already satisfied: IPython in e:\anaconda\lib\site-packages (from pycaret) (7.22.0)
Requirement already satisfied: seaborn in e:\anaconda\lib\site-packages (from pycaret) (0.11.1)
Requirement already satisfied: pandas in e:\anaconda\lib\site-packages (from pycaret) (1.2.4)
Requirement already satisfied: scipy<=1.5.4 in e:\anaconda\lib\site-packages (from pycaret) (1.5.4)
Requirement already satisfied: plotly>=4.4.1 in e:\anaconda\lib\site-packages (from pycaret) (5.6.0)
Requirement already satisfied: pyLDAvis in e:\anaconda\lib\site-packages (from pycaret) (3.2.2)
Requirement already satisfied: numba<0.55 in e:\anaconda\lib\site-packages (from pycaret) (0.53.1)
Requirement already satisfied: lightgbm>=2.3.1 in e:\anaconda\lib\site-packages (from pycaret) (3.3.2)
Requirement already satisfied: nltk in e:\anaconda\lib\site-packages (from pycaret) (3.6.1)
Requirement already satisfied: kmodes>=0.10.1 in e:\anaconda\lib\site-packages (from pycaret) (0.12.1)
Requirement already satisfied: wordcloud in e:\anaconda\lib\site-packages (from pycaret) (1.8.1)
Requirement already satisfied: ipywidgets in e:\anaconda\lib\site-packages (from pycaret) (7.6.3)
Requirement already satisfied: mlxtend>=0.17.0 in e:\anaconda\lib\site-packages (from pycaret) (0.19.0)
Requirement already satisfied: umap-learn in e:\anaconda\lib\site-packages (from pycaret) (0.5.3)
Requirement already satisfied: scikit-learn==0.23.2 in e:\anaconda\lib\site-packages (from pycaret) (0.23.2)
Requirement already satisfied: pyod in e:\anaconda\lib\site-packages (from pycaret) (1.0.1)
Requirement already satisfied: scikit-plot in e:\anaconda\lib\site-packages (from pycaret) (0.3.7)
Requirement already satisfied: cufflinks>=0.17.0 in e:\anaconda\lib\site-packages (from pycaret) (0.17.3)
Requirement already satisfied: joblib in e:\anaconda\lib\site-packages (from pycaret) (1.0.1)
Requirement already satisfied: pandas-profiling>=2.8.0 in e:\anaconda\lib\site-packages (from pycaret) (3.1.0)
Requirement already satisfied: spacy<2.4.0 in e:\anaconda\lib\site-packages (from pycaret) (2.3.7)
Requirement already satisfied: Boruta in e:\anaconda\lib\site-packages (from pycaret) (0.3)
Requirement already satisfied: gensim<4.0.0 in e:\anaconda\lib\site-packages (from pycaret) (3.8.3)
Requirement already satisfied: yellowbrick>=1.0.1 in e:\anaconda\lib\site-packages (from pycaret) (1.3.post1)
Requirement already satisfied: imbalanced-learn==0.7.0 in e:\anaconda\lib\site-packages (from pycaret) (0.7.0)
Requirement already satisfied: matplotlib in e:\anaconda\lib\site-packages (from pycaret) (3.3.4)
Requirement already satisfied: numpy>=1.13.3 in e:\anaconda\lib\site-packages (from imbalanced-learn==0.7.0->pycaret) (1.19.5)
Requirement already satisfied: threadpoolctl>=2.0.0 in e:\anaconda\lib\site-packages (from scikit-learn==0.23.2->pycaret) (2.1.0)
Requirement already satisfied: colorlover>=0.2.1 in e:\anaconda\lib\site-packages (from cufflinks>=0.17.0->pycaret) (0.3.0)
Requirement already satisfied: setuptools>=34.4.1 in e:\anaconda\lib\site-packages (from cufflinks>=0.17.0->pycaret) (52.0.0.post20210125)
Requirement already satisfied: six>=1.9.0 in e:\anaconda\lib\site-packages (from cufflinks>=0.17.0->pycaret) (1.15.0)
Requirement already satisfied: smart-open>=1.8.1 in e:\anaconda\lib\site-packages (from gensim<4.0.0->pycaret) (6.0.0)
Requirement already satisfied: Cython==0.29.14 in e:\anaconda\lib\site-packages (from gensim<4.0.0->pycaret) (0.29.14)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in e:\anaconda\lib\site-packages (from IPython->pycaret) (3.0.17)
Requirement already satisfied: colorama in e:\anaconda\lib\site-packages (from IPython->pycaret) (0.4.4)
Requirement already satisfied: pygments in e:\anaconda\lib\site-packages (from IPython->pycaret) (2.8.1)
Requirement already satisfied: pickleshare in e:\anaconda\lib\site-packages (from IPython->pycaret) (0.7.5)
Requirement already satisfied: backcall in e:\anaconda\lib\site-packages (from IPython->pycaret) (0.2.0)
Requirement already satisfied: traitlets>=4.2 in e:\anaconda\lib\site-packages (from IPython->pycaret) (5.0.5)
Requirement already satisfied: decorator in e:\anaconda\lib\site-packages (from IPython->pycaret) (5.0.6)
Requirement already satisfied: jedi>=0.16 in e:\anaconda\lib\site-packages (from IPython->pycaret) (0.17.2)
Requirement already satisfied: nbformat>=4.2.0 in e:\anaconda\lib\site-packages (from ipywidgets->pycaret) (5.1.3)
Requirement already satisfied: ipykernel>=4.5.1 in e:\anaconda\lib\site-packages (from ipywidgets->pycaret) (5.3.4)
Requirement already satisfied: widgetsnbextension~=3.5.0 in e:\anaconda\lib\site-packages (from ipywidgets->pycaret) (3.5.1)
Requirement already satisfied: jupyterlab-widgets>=1.0.0 in e:\anaconda\lib\site-packages (from ipywidgets->pycaret) (1.0.0)
Requirement already satisfied: jupyter-client in e:\anaconda\lib\site-packages (from ipykernel>=4.5.1->ipywidgets->pycaret) (6.1.12)
Requirement already satisfied: tornado>=4.2 in e:\anaconda\lib\site-packages (from ipykernel>=4.5.1->ipywidgets->pycaret) (6.1)
Requirement already satisfied: parso<0.8.0,>=0.7.0 in e:\anaconda\lib\site-packages (from jedi>=0.16->IPython->pycaret) (0.7.0)
Requirement already satisfied: wheel in e:\anaconda\lib\site-packages (from lightgbm>=2.3.1->pycaret) (0.36.2)
Requirement already satisfied: kiwisolver>=1.0.1 in e:\anaconda\lib\site-packages (from matplotlib->pycaret) (1.3.1)
Requirement already satisfied: pillow>=6.2.0 in e:\anaconda\lib\site-packages (from matplotlib->pycaret) (8.2.0)
Requirement already satisfied: cycler>=0.10 in e:\anaconda\lib\site-packages (from matplotlib->pycaret) (0.10.0)
Requirement already satisfied: python-dateutil>=2.1 in e:\anaconda\lib\site-packages (from matplotlib->pycaret) (2.8.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in e:\anaconda\lib\site-packages (from matplotlib->pycaret) (2.4.7)
Requirement already satisfied: ipython-genutils in e:\anaconda\lib\site-packages (from nbformat>=4.2.0->ipywidgets->pycaret) (0.2.0)
Requirement already satisfied: jupyter-core in e:\anaconda\lib\site-packages (from nbformat>=4.2.0->ipywidgets->pycaret) (4.7.1)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in e:\anaconda\lib\site-packages (from nbformat>=4.2.0->ipywidgets->pycaret) (3.2.0)
Requirement already satisfied: attrs>=17.4.0 in e:\anaconda\lib\site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets->pycaret) (20.3.0)
Requirement already satisfied: pyrsistent>=0.14.0 in e:\anaconda\lib\site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets->pycaret) (0.17.3)
Requirement already satisfied: llvmlite<0.37,>=0.36.0rc1 in e:\anaconda\lib\site-packages (from numba<0.55->pycaret) (0.36.0)
Requirement already satisfied: pytz>=2017.3 in e:\anaconda\lib\site-packages (from pandas->pycaret) (2021.1)
Requirement already satisfied: phik>=0.11.1 in e:\anaconda\lib\site-packages (from pandas-profiling>=2.8.0->pycaret) (0.12.0)
Requirement already satisfied: tangled-up-in-unicode==0.1.0 in e:\anaconda\lib\site-packages (from pandas-profiling>=2.8.0->pycaret) (0.1.0)
Requirement already satisfied: visions[type_image_path]==0.7.4 in e:\anaconda\lib\site-packages (from pandas-profiling>=2.8.0->pycaret) (0.7.4)
Requirement already satisfied: htmlmin>=0.1.12 in e:\anaconda\lib\site-packages (from pandas-profiling>=2.8.0->pycaret) (0.1.12)
Requirement already satisfied: markupsafe~=2.0.1 in e:\anaconda\lib\site-packages (from pandas-profiling>=2.8.0->pycaret) (2.0.1)
Requirement already satisfied: missingno>=0.4.2 in e:\anaconda\lib\site-packages (from pandas-profiling>=2.8.0->pycaret) (0.4.2)
Requirement already satisfied: tqdm>=4.48.2 in e:\anaconda\lib\site-packages (from pandas-profiling>=2.8.0->pycaret) (4.59.0)
Requirement already satisfied: requests>=2.24.0 in e:\anaconda\lib\site-packages (from pandas-profiling>=2.8.0->pycaret) (2.25.1)
Requirement already satisfied: pydantic>=1.8.1 in e:\anaconda\lib\site-packages (from pandas-profiling>=2.8.0->pycaret) (1.9.0)
Requirement already satisfied: jinja2>=2.11.1 in e:\anaconda\lib\site-packages (from pandas-profiling>=2.8.0->pycaret) (2.11.3)
Requirement already satisfied: multimethod>=1.4 in e:\anaconda\lib\site-packages (from pandas-profiling>=2.8.0->pycaret) (1.7)
Requirement already satisfied: networkx>=2.4 in e:\anaconda\lib\site-packages (from visions[type_image_path]==0.7.4->pandas-profiling>=2.8.0->pycaret) (2.5)
Requirement already satisfied: imagehash in e:\anaconda\lib\site-packages (from visions[type_image_path]==0.7.4->pandas-profiling>=2.8.0->pycaret) (4.2.1)
Requirement already satisfied: tenacity>=6.2.0 in e:\anaconda\lib\site-packages (from plotly>=4.4.1->pycaret) (8.0.1)
Requirement already satisfied: wcwidth in e:\anaconda\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->IPython->pycaret) (0.2.5)
Requirement already satisfied: typing-extensions>=3.7.4.3 in e:\anaconda\lib\site-packages (from pydantic>=1.8.1->pandas-profiling>=2.8.0->pycaret) (3.7.4.3)
Requirement already satisfied: chardet<5,>=3.0.2 in e:\anaconda\lib\site-packages (from requests>=2.24.0->pandas-profiling>=2.8.0->pycaret) (4.0.0)
Requirement already satisfied: idna<3,>=2.5 in e:\anaconda\lib\site-packages (from requests>=2.24.0->pandas-profiling>=2.8.0->pycaret) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in e:\anaconda\lib\site-packages (from requests>=2.24.0->pandas-profiling>=2.8.0->pycaret) (1.26.4)
Requirement already satisfied: certifi>=2017.4.17 in e:\anaconda\lib\site-packages (from requests>=2.24.0->pandas-profiling>=2.8.0->pycaret) (2020.12.5)
Requirement already satisfied: plac<1.2.0,>=0.9.6 in e:\anaconda\lib\site-packages (from spacy<2.4.0->pycaret) (1.1.3)
Requirement already satisfied: preshed<3.1.0,>=3.0.2 in e:\anaconda\lib\site-packages (from spacy<2.4.0->pycaret) (3.0.6)
Requirement already satisfied: catalogue<1.1.0,>=0.0.7 in e:\anaconda\lib\site-packages (from spacy<2.4.0->pycaret) (1.0.0)
Requirement already satisfied: srsly<1.1.0,>=1.0.2 in e:\anaconda\lib\site-packages (from spacy<2.4.0->pycaret) (1.0.5)
Requirement already satisfied: thinc<7.5.0,>=7.4.1 in e:\anaconda\lib\site-packages (from spacy<2.4.0->pycaret) (7.4.5)
Requirement already satisfied: murmurhash<1.1.0,>=0.28.0 in e:\anaconda\lib\site-packages (from spacy<2.4.0->pycaret) (1.0.7)
Requirement already satisfied: cymem<2.1.0,>=2.0.2 in e:\anaconda\lib\site-packages (from spacy<2.4.0->pycaret) (2.0.6)
Requirement already satisfied: wasabi<1.1.0,>=0.4.0 in e:\anaconda\lib\site-packages (from spacy<2.4.0->pycaret) (0.9.1)
Requirement already satisfied: blis<0.8.0,>=0.4.0 in e:\anaconda\lib\site-packages (from spacy<2.4.0->pycaret) (0.7.7)
Requirement already satisfied: notebook>=4.4.1 in e:\anaconda\lib\site-packages (from widgetsnbextension~=3.5.0->ipywidgets->pycaret) (6.3.0)

Requirement already satisfied: prometheus-client in e:\anaconda\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->pycaret) (0.10.1)
Requirement already satisfied: pyzmq>=17 in e:\anaconda\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->pycaret) (20.0.0)
Requirement already satisfied: terminado>=0.8.3 in e:\anaconda\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->pycaret) (0.9.4)
Requirement already satisfied: argon2-cffi in e:\anaconda\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->pycaret) (20.1.0)
Requirement already satisfied: nbconvert in e:\anaconda\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->pycaret) (6.0.7)
Requirement already satisfied: Send2Trash>=1.5.0 in e:\anaconda\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->pycaret) (1.5.0)
Requirement already satisfied: pywin32>=1.0 in e:\anaconda\lib\site-packages (from jupyter-core->nbformat>=4.2.0->ipywidgets->pycaret) (227)
Requirement already satisfied: pywinpty>=0.5 in e:\anaconda\lib\site-packages (from terminado>=0.8.3->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->pycaret) (0.5.7)
Requirement already satisfied: cffi>=1.0.0 in e:\anaconda\lib\site-packages (from argon2-cffi->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->pycaret) (1.14.5)
Requirement already satisfied: pycparser in e:\anaconda\lib\site-packages (from cffi>=1.0.0->argon2-cffi->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->pycaret) (2.20)
Requirement already satisfied: PyWavelets in e:\anaconda\lib\site-packages (from imagehash->visions[type_image_path]==0.7.4->pandas-profiling>=2.8.0->pycaret) (1.1.1)
Requirement already satisfied: Flask in e:\anaconda\lib\site-packages (from mlflow->pycaret) (1.1.2)
Requirement already satisfied: protobuf>=3.7.0 in e:\anaconda\lib\site-packages (from mlflow->pycaret) (3.19.1)
Requirement already satisfied: importlib-metadata!=4.7.0,>=3.7.0 in e:\anaconda\lib\site-packages (from mlflow->pycaret) (4.11.3)
Requirement already satisfied: sqlparse>=0.3.1 in e:\anaconda\lib\site-packages (from mlflow->pycaret) (0.4.2)
Requirement already satisfied: waitress in e:\anaconda\lib\site-packages (from mlflow->pycaret) (2.1.1)
Requirement already satisfied: databricks-cli>=0.8.7 in e:\anaconda\lib\site-packages (from mlflow->pycaret) (0.16.6)
Requirement already satisfied: sqlalchemy in e:\anaconda\lib\site-packages (from mlflow->pycaret) (1.4.7)
Requirement already satisfied: querystring-parser in e:\anaconda\lib\site-packages (from mlflow->pycaret) (1.2.4)
Requirement already satisfied: packaging in e:\anaconda\lib\site-packages (from mlflow->pycaret) (20.9)
Requirement already satisfied: entrypoints in e:\anaconda\lib\site-packages (from mlflow->pycaret) (0.3)
Requirement already satisfied: click>=7.0 in e:\anaconda\lib\site-packages (from mlflow->pycaret) (7.1.2)
Requirement already satisfied: alembic in e:\anaconda\lib\site-packages (from mlflow->pycaret) (1.7.7)
Requirement already satisfied: prometheus-flask-exporter in e:\anaconda\lib\site-packages (from mlflow->pycaret) (0.20.1)
Requirement already satisfied: gitpython>=2.1.0 in e:\anaconda\lib\site-packages (from mlflow->pycaret) (3.1.24)
Requirement already satisfied: cloudpickle in e:\anaconda\lib\site-packages (from mlflow->pycaret) (1.6.0)
Requirement already satisfied: docker>=4.0.0 in e:\anaconda\lib\site-packages (from mlflow->pycaret) (5.0.3)
Requirement already satisfied: oauthlib>=3.1.0 in e:\anaconda\lib\site-packages (from databricks-cli>=0.8.7->mlflow->pycaret) (3.2.0)
Requirement already satisfied: tabulate>=0.7.7 in e:\anaconda\lib\site-packages (from databricks-cli>=0.8.7->mlflow->pycaret) (0.8.9)
Requirement already satisfied: pyjwt>=1.7.0 in e:\anaconda\lib\site-packages (from databricks-cli>=0.8.7->mlflow->pycaret) (2.4.0)
Requirement already satisfied: websocket-client>=0.32.0 in e:\anaconda\lib\site-packages (from docker>=4.0.0->mlflow->pycaret) (1.3.2)
Requirement already satisfied: gitdb<5,>=4.0.1 in e:\anaconda\lib\site-packages (from gitpython>=2.1.0->mlflow->pycaret) (4.0.9)
Requirement already satisfied: smmap<6,>=3.0.1 in e:\anaconda\lib\site-packages (from gitdb<5,>=4.0.1->gitpython>=2.1.0->mlflow->pycaret) (5.0.0)
Requirement already satisfied: zipp>=0.5 in e:\anaconda\lib\site-packages (from importlib-metadata!=4.7.0,>=3.7.0->mlflow->pycaret) (3.4.1)
Requirement already satisfied: Mako in e:\anaconda\lib\site-packages (from alembic->mlflow->pycaret) (1.2.0)
Requirement already satisfied: importlib-resources in e:\anaconda\lib\site-packages (from alembic->mlflow->pycaret) (5.6.0)
Requirement already satisfied: greenlet!=0.4.17 in e:\anaconda\lib\site-packages (from sqlalchemy->mlflow->pycaret) (1.0.0)
Requirement already satisfied: Werkzeug>=0.15 in e:\anaconda\lib\site-packages (from Flask->mlflow->pycaret) (1.0.1)
Requirement already satisfied: itsdangerous>=0.24 in e:\anaconda\lib\site-packages (from Flask->mlflow->pycaret) (1.1.0)
Requirement already satisfied: nbclient<0.6.0,>=0.5.0 in e:\anaconda\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->pycaret) (0.5.3)
Requirement already satisfied: testpath in e:\anaconda\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->pycaret) (0.4.4)
Requirement already satisfied: bleach in e:\anaconda\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->pycaret) (3.3.0)
Requirement already satisfied: mistune<2,>=0.8.1 in e:\anaconda\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->pycaret) (0.8.4)
Requirement already satisfied: pandocfilters>=1.4.1 in e:\anaconda\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->pycaret) (1.4.3)
Requirement already satisfied: jupyterlab-pygments in e:\anaconda\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->pycaret) (0.1.2)
Requirement already satisfied: defusedxml in e:\anaconda\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->pycaret) (0.7.1)
Requirement already satisfied: async-generator in e:\anaconda\lib\site-packages (from nbclient<0.6.0,>=0.5.0->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->pycaret) (1.10)
Requirement already satisfied: nest-asyncio in e:\anaconda\lib\site-packages (from nbclient<0.6.0,>=0.5.0->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->pycaret) (1.5.1)
Requirement already satisfied: webencodings in e:\anaconda\lib\site-packages (from bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets->pycaret) (0.5.1)
Requirement already satisfied: regex in e:\anaconda\lib\site-packages (from nltk->pycaret) (2021.4.4)
Requirement already satisfied: future in e:\anaconda\lib\site-packages (from pyLDAvis->pycaret) (0.18.2)
Requirement already satisfied: numexpr in e:\anaconda\lib\site-packages (from pyLDAvis->pycaret) (2.7.3)
Requirement already satisfied: funcy in e:\anaconda\lib\site-packages (from pyLDAvis->pycaret) (1.17)
Requirement already satisfied: statsmodels in e:\anaconda\lib\site-packages (from pyod->pycaret) (0.12.2)
Requirement already satisfied: patsy>=0.5 in e:\anaconda\lib\site-packages (from statsmodels->pyod->pycaret) (0.5.1)
Requirement already satisfied: pynndescent>=0.5 in e:\anaconda\lib\site-packages (from umap-learn->pycaret) (0.5.7)

In [44]:
from pycaret import regression
Setup = regression.setup(data = train,train_size=0.7, target = 'sales', numeric_features =['year','month','day_of_week','day_of_year'],categorical_features=, transform_target = True)

SyntaxError: invalid syntax (<ipython-input-44-c899c86d5396>, line 2)

In [42]:
regression.compare_models()

[]

In [43]:
ct =regression.create_model(best)

ValueError: Estimator [] does not have the required fit() method.

In [ ]:
final_best = finalize_model(best)
predictions_future = predict_model(final_best, data=test)